
.home-texts{
    margin: 50px 0;
  }

  .p-text{
    margin: 10px auto;
    width: 50%;
    text-align:justify;
    font-weight: 600;
    color: rgb(161, 161, 161);

  }

  footer{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(164, 164, 164); ;
  }

.footer-links{
  font-size: 2em;
}

.footer-text{
  font-family: Roboto, sans-serif;
  font-size: 0.9em;
}

.link{
    color: rgb(164, 164, 164);
    transition: all .2s ease-in-out;
}

.link:hover{
    color: rgb(255, 255, 255); ;
}


@media (max-width: 900px) {
  .p-text{
    position: absolute;
    bottom: 0px;
    margin: auto;
    width: 80%;
    left: 10%;
  }
  footer{
    position: absolute;
    bottom: -150px;
  }
}

@media (max-width: 768px) {
  .p-text{
    position: absolute;
    bottom: -10%;
    margin: auto;
    width: 80%;
    left: 10%;
  }
  footer{
    position: absolute;
    bottom: -150px;
  }
}


@media (max-width: 550px) {
  .p-text{
    position: relative;
    bottom: -50px;
    width: 90%;
    left: 0;
  }
  footer{
    position: relative;
    bottom: -90px;
    font-size: 0.8em;
  }

}
