
.slider {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
  }
  
  .image {
    width: 80%;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2rem;
    color: rgb(164, 164, 164);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2rem;
    color: rgb(164, 164, 164);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 2s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 2s;
  }

  @media (max-width: 1200px) {
    .slider {
      width: 100%;
      height: 500px;
    }
    .image {
      width: 80%;
    }

  }

  @media (max-width: 768px) {
    .slider {
      width: 100%;
      height: 400px;
    }
    .image {
      width: 100%;
    }

  }

  @media (max-width: 550px) {
    .slider {
      margin-top: 220px;
      width: 100%;
      height: 200px;
    }
    

  }

